button.watch-next {
    background: linear-gradient(to right, #FF5D3D , #FE2B68);
    border: none;
    color: white;
    width: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 5px 12px;
}

button.watch-next[watch-next=true] {
    background: linear-gradient(to right, #1E65F0 , #26CDFF);
}

button.watch-next:focus {
    outline: none;
}

button.watch-next > img {
    /* width: 100%; */
    max-width: 22px;
    display: block;
}